<mat-dialog-content>
<div class="row">
    <div class="col-sm-4">
        <div class="card" style="height: 14rem;">
            <img  src="assets\Images\bookFrontPage.jpg" class="card-img-top overflow-hidden" style="height: 18rem;"  alt="..."  >
        </div>
        <div style="text-align: center; margin-top: auto;">
          <h2><p><strong>Price: </strong>{{data.price}}</p></h2>
        </div>
        <div>
          <div class="row">
            <div class="col-sm-12" style="text-align: center;">
              <!-- <h4><p><strong>Rating: </strong>{{value}}</p></h4> -->
            </div>
            <div class="col-sm-6">
              <h4><p><strong>Rating: </strong>{{value}}</p></h4>
              
              <mat-slider thumbLabel  [displayWith]="formatLabel" [(ngModel)]="value" [disabled]="!checkLoggedIn()" (change)="onSliderChange($event)"
              tickInterval="1000"  step="1"  min="0"  max="5"  aria-label="units"></mat-slider>
            </div>
            <div class="col-sm-6">
              <button class="btn btn-danger btn-sm"[disabled]="!checkSlideChange" (click)="updateRating()">Like</button>
            </div>
          </div>
        </div>
        </div>
    
  

    <div class="col-sm-8 p-3 mt-0 mb-3 ">
      <h1><strong>{{data.bookTitle}}</strong></h1>
      <div class="row">
        <div class="col-sm-6">
          <h3><p><strong>Book category:</strong></p></h3>
        </div>
        <div class="col-sm-6">
          <h3><p>{{data.category}}</p></h3>
        </div>
        <div class="container">
          <h3><p><strong>Details:</strong></p></h3>        
          <p>{{data.details}}</p>     
        </div>
        <div class="col-sm-6">
          <p><strong>Auhtor Name:</strong></p>
        </div>
        <div class="col-sm-6">
          <p>{{data.authorName}}</p>
        </div>

        <div class="container">
          <button type="button" class="btn btn-success mt-5 mr-3" (click)="onClickBuyNow()">Buy now</button>
          <button type="button" class="btn btn-warning mt-5 mr-3" (click)="onClickAddToCart()">Add to cart</button>
        </div>

      </div>
        

    </div>
</div>
</mat-dialog-content>
