<div class="card">
    <div class="card-header">
        Login
    </div>
    <div class="card-body">
        <form (ngSubmit)='onSubmit()' #Form = "ngForm">
            <div class="form-group col-12">
                <label for="text">User Name</label>
                <input type="text" class="form-control" ngModel name="userName" required>
            </div>

            <div class="form-group col-12">
                <label for="password">password</label>
                <input type="password" class="form-control" ngModel name="password" required>
            </div>

            <div class="form-group col-12">
                <button [disabled]="!Form.valid" type="submit" class="btn btn-primary" mat-dialog-close>Login</button>
            </div>
        </form>
    </div>
</div>